* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #151517;
  color: #fff;
  font-family: 'Golos Text', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h2 {
  font-size: 48px;
  font-weight: 600;
  margin: 2.5rem 1.5rem;
}

h3 {
  font-size: 32px;
  font-weight: 500;
}

p {
  font-size: 17px;
  color: #b1b1b2;
}

a {
  text-decoration: none;
  color: inherit;
}

.PostsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PostsHeader > button {
  height: 3rem;
  font-size: 17px;
  font-weight: 600;
  margin-right: 1.5rem;
}

.PostsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.2rem;
}

.PostsList > a {
  border: 1px solid #333335;
  border-radius: 12px;
  transition: border-color 0.2s;
}

.PostsList > a:hover {
  border-color: transparent;
}

.PostWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  row-gap: 1.8rem;
}

.PostControls {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.Post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5rem;
  padding: 1.75rem 2rem;
  border: 1px solid #333335;
  border-radius: 12px;
  background-color: #2121234D;
  position: relative;
}

.CommentsList {
  padding: 2rem 2rem;
  border: 1px solid #333335;
  border-radius: 8px;
  background-color: #2121234D;
}

.PostWrapper > form {
  align-self: center;
  min-width: 34rem;
  max-width: 80%;
}
